<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>

	<session-factory>
		<property name="hbm2ddl.auto">create</property>  
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:59365;databaseName=HibernateTest;responseBuffering=adaptive;loginTimeout=10;integratedSecurity=true</property>
		<property name="hibernate.default_schema">dbo</property>
		<property name="hibernate.connection.username"></property>
		<property name="hibernate.connection.password"></property>
		<mapping resource="employee.hbm.xml" />
		<mapping class="com.dplatform.core.Item"/>  
        <mapping class="com.dplatform.core.Product"/>  
        <mapping class="com.dplatform.core.PrinterProduct"/> 
        <mapping class="com.dplatform.core.MobileProduct"/> 
	</session-factory>

</hibernate-configuration>